.accordion-section {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 10px;
}

.accordion-title {
  font-weight: bold;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 5px 0;
}

.accordion-section.active .accordion-content {
  display: block;
}