.accordion > div {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 10px;
}

.accordion > div.active {
  background-color: #f9f9f9;
}

.accordion > div > div:first-child {
  font-weight: bold;
  cursor: pointer;
}

.accordion > div > div:last-child {
  padding-top: 5px;
}